body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 700;
}

section {
    overflow-x: clip;
    min-height: 100vh;
}

section.gallery-slider {
    height: 200vh;
    position: relative;
    background-color: beige;
    padding: 100px 0;

    #slider-wrapper {
        position: sticky;
        top: 60%;
        gap: 1rem;

        .slide {
            border-radius: 1rem;
            box-shadow: 0 0 0 1rem rgb(255, 234, 0);
            position: absolute;
            top: 0;
            left: 0;
            width: clamp(15rem, 20vw, 35rem);
            aspect-ratio: 4/5;
            height: auto;
            background-color: rgb(33, 33, 33);
        }
    }
}
